<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Consultation Activités</h1>
    </div>

    <!-- Content Row -->
    <div class="content-wrapper">
      <ejs-schedule #scheduleObj width="100%" height="756px" [eventSettings]="eventSettings" [selectedDate]="selectedDate"
        [(currentView)]="setView" >
       <e-views>
           <!-- <e-view option="Day" startHour="09:00" endHour="18:00"></e-view> -->
           <e-view option= "WorkWeek" startHour="09:00" endHour="18:00" [readonly]="isReadOnly"></e-view>
           <e-view option= "Month" [readonly]="isReadOnly"></e-view>
           <e-view option= "Year" [showWeekNumber]="showWeekNumber" [readonly]="isReadOnly"></e-view>
        </e-views>
    
     

      </ejs-schedule>
    </div>
    
  </div>
  