<div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Créer un Compte !</h1>
                        </div>

                        <form (submit)="onRegisterSubmit()" class="user">
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="text" [(ngModel)]="prenom" name="prenom" class="form-control form-control-user" id="exampleFirstName"
                                        placeholder="Prénom">
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" [(ngModel)]="nom" name="nom" class="form-control form-control-user" id="exampleLastName"
                                        placeholder="Nom">
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" [(ngModel)]="email" name="email" class="form-control form-control-user" id="exampleInputEmail"
                                    placeholder="Adresse e-mail">
                            </div>
                            <div class="form-group">
                                <input type="password" [(ngModel)]="password" name="password" class="form-control form-control-user" id="exampleInputPassword"
                                    placeholder="Mot de Passe">
                            </div>
                            <input type="submit" class="btn btn-primary btn-user btn-block" value="Enregistrer">

                        </form>
                        <hr>
                        <div class="text-center">
                            <a class="small" href="login">Vous avez déjà un compte ? Connecter !</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>